.contacts-inputs {
  z-index: 4;

  /* padding-top: 10px; */
}

.contacts-inputs > div {
  display: flex;
  flex-wrap: wrap;
}

.contacts-inputs > div > div {
  display: flex;
  flex-direction: column;
  /* margin-left: 20px;
       margin-right: 20px; */
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 5px;
}

.contacts-inputs > div > div > input:focus,
.contacts-inputs > div > div > select:focus {
  outline-color: #6a4feb;
}

.contacts-inputs > div > div > span {
  color: rgb(24, 0, 69);
  font-weight: 600;
}

.contacts-inputs > div > div > input {
  font-size: 15px;
  margin-top: 12px;
  height: 2.5rem;
  width: 10rem;
  padding: 10px;
  border: 1px solid rgba(25, 4, 69, 0.1);
  /* margin-bottom: 12px; */
}

.contacts-container .create-btn {
  position: relative;
  left: calc(100% - 90px);
  font-weight: 500;
  min-width: 70px;
  height: 27px;
  margin-left: 5px;
  border: 1px solid rgba(25, 4, 69, 0.1);
  border-radius: 5px;
  color: #fff;
  background-color: #6a4feb;
}

#first-name-input,
#second-name-input {
  min-width: 14rem;
}

#contact-phone-input,
#contact-email-input {
  min-width: 14rem;
}

#contact-linkedin-input {
  min-width: 14rem;
}

.contact-company > div {
  margin-top: 20px;
  font-weight: 500;
  min-width: fit-content;
  height: 27px;
  padding: 3px;
  border: 1px solid rgba(25, 4, 69, 0.1);
  border-radius: 5px;
  color: #fff;
  background-color: #1a1075;
}

/* <div class="contact-blocks">
                <div class="contact-block">
                  <div class="icon"></div>
                  <div class="contact-info">
                    <div class="contact-block-name"></div>
                    <div class="block-row">
                      <div class="contact-block-title"></div>
                      <div class="contact-block-location"></div>
                    </div>
                    <div class="contact-block-phone"></div>
                    <div class="contact-block-email"></div>
                    <div class="contact-block-linkedin"></div>
                  </div>
                </div>
              </div> */
.contact-blocks {
  margin: 10px;
  display: flex;
}

.contact-block {
  color: #1a1075;
  padding: 10px;
  height: fit-content;
  min-width: 17rem;
  display: flex;
  justify-content: flex-start;
  margin-right: 10px;
  border: 1px solid rgba(25, 4, 69, 0.1);
}

.contact-block-name {
  font-weight: 700;
}

.icon {
  height: 40px;
  width: 40px;
  transform: scale(2);
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 15px;
}

.contact-info {
  /* display:flex;
       flex-direction: column; */
}
.contact-block-linkedin > img {
  position: relative;
  top: 3px;
  margin-right: 5px;
}
.contact-info > div {
  margin-bottom: 5px;
  height: 15px;
  width: 100%;
  color: rgb(24, 0, 69);
  font-weight: 500;
}

.block-row {
  display: flex;
  flex-wrap: wrap;
}

.contact-block-title {
  margin-right: 10px;
}

.contact-blocks-wrapper {
  overflow-y: auto;
}
