<div class="post-container">
            <div class="flex justify-center items-center bg-gray-200">
              <article
                class="rounded-lg shadow-lg bg-white p-4 max-w-xs"
              >
                <header class="flex mb-4">
                  <img
                    class="h-12 rounded-lg"
                    src="https://cdn.iconscout.com/icon/free/png-512/city-building-7-861754.png"
                    alt="Logo"
                  />
                  <div class="ml-4">
                    <p class="text-gray-900 font-semibold">{%ROLE%}</p>
                    <p class="text-gray-600 text-sm mt-1">
                      {%COMPANY%}
                    </p>
                  </div>
                </header>
                <p class="mb-4 text-gray-600 text-sm leading-relaxed">
                  {%DESCRIPTION%}
                </p>
                <a href="{%JOB_URL%}" class="text-gray-900 font-semibold text-sm">
                  View Job
                </a>
              </article>
            </div>
          </div>