.tags-row {
  display: flex;

  align-items: center;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.tags {
  display: flex;
  /* overflow-x: auto;
  scrollbar-width: thin; */
}
.tags-row > span {
  font-size: 20px;
  /* border-right: 0.5px solid rgba(25, 4, 69, 0.1); */
  padding-right: 5px;
}

.tag {
  font-size: 11px;
  min-width: fit-content;
  height: 27px;
  margin-left: 5px;
  border: 1px solid rgba(25, 4, 69, 0.1);
  border-radius: 5px;
  padding: 5px;
  color: rgba(25, 4, 69, 0.7);
}

.tag.active {
  color: #fff;
  background-color: #6a4feb;
  font-weight: 700;
  transform: scale(1.1);
}

.tags:hover {
  cursor: pointer;
}

.text-input {
  margin: 10px;
  width: calc(100% - 20px);
}

.notes-input > textarea,
.text-input > textarea {
  width: 100%;
  font-size: 15px;
  margin-top: 12px;
  padding: 10px;
  border: 1px solid rgba(25, 4, 69, 0.1);
}

.notes-input .save-btn,
.activity-input .save-btn {
  position: relative;
  left: calc(100% - 90px);
  /* bottom: 10px; */
  font-weight: 500;
  min-width: 70px;
  height: 27px;
  margin-left: 5px;
  border: 1px solid rgba(25, 4, 69, 0.1);
  border-radius: 5px;
  color: #fff;
  background-color: #6a4feb;
}
.activity-input .save-btn {
  bottom: 10px;
}

.activity-container  {
  flex-grow: 1;
  overflow-y: auto;
}

.head-row {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
}

.head-row > div:nth-child(1) {
  min-width: 18rem;
}

.activity-content {
  display: flex;
  
  /* justify-content: space-evenly; */
  margin-top: 10px;
  margin-left: 60px;
}

.content-value {
  min-width: 25rem;
}

.tag-value {
  font-size: 11px;
  min-width: fit-content;
  max-height: 30px;
  border: 1px solid rgba(25, 4, 69, 0.1);
  border-radius: 5px;
  padding: 2px;
  color: rgba(25, 4, 69, 0.7);
  /* transform: scale(1.05); */
}

.time-value {
  position: absolute;
  right: 15rem;
}

/* NOTES CONTAINER */

.notes-input .save-btn:hover,
.activity-input .save-btn:hover {
  cursor: pointer;
}

#notes-input:focus,
#activity-input:focus {
  outline-color: #6a4feb;
}

.notes-container {
  overflow: auto;
}

.note {
  height: 10rem;
  min-width: 9rem;
  margin: 10px;
  padding: 5px;
  border: 1px solid rgba(25, 4, 69, 0.1);
}

.note-content {
  height: 8rem;
}

.note-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(24, 0, 69);
}

.note-details > .time {
  font-size: 11px;
}

.note-details > .note-delete-btn:hover {
  cursor: pointer;
}

.note-blocks {
  display: flex;
}
