.timeline {
  background-color: rgba(25, 4, 69, 0.1);
  width: 20%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.timeline-head {
  color: rgb(24, 0, 69);
  font-weight: 700;
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  border-bottom: 0.5px solid rgba(25, 4, 69, 0.7);
}

.stages,
.end-stage {
  margin-left: 12px;
}

.stages {
  margin-top: 10px;
}

.stage-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dot {
  width: 7px;
  height: 7px;
  background-color: black;
  border-radius: 5px;
  margin-right: 5px;
}

.next-line {
  margin-left: 2px;
  margin-bottom: 2px;
  height: 20px;
  border-left: 1px solid grey;
}

.stage {
  font-size: 13px;
  color: rgba(25, 4, 69, 0.7);
}

.activity-tag {
}

.stage-container {
  overflow: auto;
}

.activity-time {
  position: relative;
  left: 135px;
  font-size: 10px;
}

.category-detail-card {
  background-color: #fff;
  position: absolute;
  z-index: 3;
  top: 23%;
  left: 40%;
  height: 320px;
  width: 320px;
  border-radius: 5px;
  /* display:hidden; */
  border: 0.5px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-detail-name {
  display: flex;
  align-items: center;
}

.category-detail-name span:nth-child(1) {
  margin-right: 5px;
}
.category-detail-card div:nth-child(1) {
  margin-top: 12px;
  margin-bottom: 30px;
  font-weight: 700;
}
.category-job-count,
.category-contacts-count,
.category-activities-count {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  margin-bottom: 20px;
  color: rgba(25, 4, 69, 0.7);
}
.category-job-count span,
.category-contacts-count span,
.category-activities-count span {
  margin-bottom: 10px;
  color: rgb(24, 0, 69);
}

.category-del-btns {
  position: absolute;

  bottom: 15px;
  right: 15px;
}

.category-del-btns > button {
  font-weight: 500;
  min-width: 70px;
  height: 27px;
  margin-left: 5px;
  border: 1px solid rgba(25, 4, 69, 0.1);
  border-radius: 5px;
}

.delete {
  color: #fff;
  background-color: #db1752;
}

.discard {
  color: #7c7c7c;
  background-color: #fff;
}

.category-del-btns > button:hover {
  cursor: pointer;
}

.category-job-count,
.category-contacts-count, .category-activities-count {
  position: relative;
  right: 80px;
}
